@import "tailwindcss";

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    cursor: pointer;
    @apply w-8 h-8 rounded-full
}